
html, body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden !important; */
}

body {
    background-color: #24282d;
    box-sizing: 0;

    font-family: Calibri;
}

:root {
    --z-navbar: 100;
    --z-sidebar: 200;


    --text-color: #d0d5dc;
}

.nav-bar {
    position: sticky;
    align-items: center;
    top:0;

    display: flex;
    justify-content: space-between;

    width: auto;
    height: 84px;
    background-color: #171a1d;

    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.1);

    z-index: var(--z-navbar);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 8px;

}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 16px;
    gap: 16px;
}

.profile {
    width: clamp(3.5rem, 7vmin, 4rem);
    aspect-ratio: 1/1;
    border-radius: 50%;

    background-image: url("../assets/profileicon.png");
    background-color: rgba(125, 125, 125, 0.75);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    filter: invert(90%);
}

.social-icon {
  display: none;
}

@media (min-width: 600px) {
  .social-icon {
    display: inherit;
    width: clamp(3.5rem, 5vw, 4rem);
    aspect-ratio: 1/1;
  }
}

.nav-bar h1 {
    font-weight: bold;
    font-size: clamp(2.25rem, 4vw, 3rem);
    color: var(--text-color);

}

#carticon {
    background-image: url(../assets/carticon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    background-color: transparent;
    border-color: transparent;
    height:48px;
    width:48px;

    filter: invert(90%);
}

#carticon:hover {
    cursor: pointer;
}

#sidebar {
    position: fixed;
    overflow: none;
    top:0;
    margin: 0;

    background:#3f444c;

    height: 100dvh;   
    width: 450px; 
    overflow: hidden;

    border-radius: 0 16px 16px 0;

    z-index: var(--z-sidebar);
}

#sidebar-top {  
    position: relative;  
    width:inherit;
    height:64px;
    background:#30343a;
    border-radius: 0 16px 0 0;

    display: flex;
    align-items: center;
    justify-content: left;

    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.1);

    color: var(--text-color);

    z-index: 1;
}

#sidebar-top h1 {
    margin: 16px;
    font-size: 2.5rem;

    z-index: 2;
}

#sidebar-top div {
    position: absolute;
    color: #d0d5dc8a;

    font-size: 1.5rem;

    margin: 8px;
    right: 2px;
    bottom: 5px
}

#sidebar-container {
    position: relative;
    display: flex;
    flex-direction: column;

    margin-top: 2px;

    justify-content: left;

}

.item-group {
    display: flex;
    align-items: center;

    gap: 8px;

    margin: 10px;
    margin-bottom: 16px;
}

.item-trash {
    aspect-ratio: 1/1;
    width: 48px;
    flex-shrink: 0;

    background: #555a64 url(../assets/trashcan.png) center center / cover no-repeat;

    background-color:#555a64;
    margin: 8px;
    margin-right: 0;

    border-style: solid;
    border-radius: 8px 8px 8px 8px;
    border-width: 3px;
    border-color: #454a53;
}

.item-trash:hover {
    cursor: pointer;
}


.item {
    background-color: #6d7480;
    position: relative;
    display: flex;
    align-items: center;

    width: calc(100% - 36px);
    height: 80px;

    border-radius: 8px 8px 8px 8px;
}


.item img {
    aspect-ratio: 1/1;
    width: 64px;

    background-color:#555a64;
    margin: 7.5px;

    border-style: solid;
    border-radius: 8px 8px 8px 8px;
    border-width: 3px;
    border-color: #454a53;
}

.item h1 {
    margin: 5px;

    color: var(--text-color);
    font-size: 3rem;
}

.item hr {
    position: absolute;
    right: 100px;
}

.item-prices {
    margin: 7.5px;
    margin-left: auto;

}

.item-prices h2 {

    color: var(--text-color);
    font-size: 2rem;

}


#sidebar-bottom {

}

#listing-container {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow: visible;

    margin: 16px;

    width: auto;

    background-color: black;
    
}

.listing {
    position: relative;
    display: flex;

    align-items: center;
    flex-direction: column;

    height: 420px;
    width: 300px;
    margin: 20px;

    border-radius: 8px 8px 8px 8px;

    background-color: gray;
}

.listing-image {
    aspect-ratio: 1/1;
    height:220px;
    width:220px;
    margin: 24px;
    margin-bottom: 8px;

    border-style: solid;
    border-radius: 16px;
    border-width: 6px;
    border-color: darkgray;
}

.listing h1, h2 {
    margin: 0;
}

.l-quantity-add {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
}

.l-q-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 228, 230);
    width: 140px;
    height: 40px;

    overflow: hidden;
    border-radius: 12px;
}

.l-q-container button {
    border:none;
    background-color: inherit;
    margin: 8px;

}
.l-q-container input {
    border: none;
    background-color: inherit;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    flex: 1;
}

.l-q-container input:focus-visible {
    outline: none;
}

.add-cart-btn {
    width: 80px;
    height: 40px;
    margin-left: 20px;

    outline: none;
    border-radius: 12px;
    border: none;
    background-color: lightgreen;

    font-weight: bold;
    font-size: 1rem;
}
