
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #24282d;
    box-sizing: 0;

    font-family: Calibri;
}

:root {
    --z-navbar: 100;
    --z-sidebar: 200;


    --text-color: #d0d5dc;
}

div.nav-bar {
    position: fixed;
    align-items: center;

    display: flex;
    justify-content: space-between;

    width: 100vw;
    height: clamp(56px, 8vh, 96px);
    background-color: #171a1d;

    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.1);

    z-index: var(--z-navbar);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 8px;

}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 16px;
    gap: 16px;
}

.profile {
    width: clamp(3.5rem, 7vmin, 4rem);
    aspect-ratio: 1/1;
    border-radius: 50%;

    background-image: url("../assets/profileicon.png");
    background-color: rgba(125, 125, 125, 0.75);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    filter: invert(90%);
}

.social-icon {
  display: none;
}

@media (min-width: 600px) {
  .social-icon {
    display: inherit;
    width: clamp(3.5rem, 5vw, 4rem);
    aspect-ratio: 1/1;
  }
}

.nav-bar h1 {
    font-weight: bold;
    font-size: clamp(2.25rem, 4vw, 3rem);
    color: var(--text-color);

}

#carticon {
    background-image: url(../assets/carticon.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    background-color: transparent;
    border-color: transparent;
    height:48px;
    width:48px;

    filter: invert(90%);
}

#carticon:hover {
    cursor: pointer;
}

#sidebar {
    position: relative;
    overflow: none;
    margin: 0;

    background:#3f444c;

    height: 100vh;   
    width: 400px; 
    overflow: hidden;

    border-radius: 0 16px 16px 0;

    z-index: var(--z-sidebar);
}

#sidebar-top {  
    position: relative;  
    width:inherit;
    height:64px;
    background:#30343a;
    border-radius: 0 16px 0 0;

    display: flex;
    align-items: center;
    justify-content: left;

    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.1);

    color: var(--text-color);

    z-index: 1;
}

#sidebar-top h1 {
    margin: 16px;
    font-size: 2.5rem;

    z-index: 2;
}

#sidebar-top div {
    position: absolute;
    color: #d0d5dc8a;

    font-size: 1.5rem;

    margin: 8px;
    right: 2px;
    bottom: 5px
}

#sidebar-container {
    position: relative;
    display: flex;

    justify-content: center;

    margin: 10px;

}

.cart-item {
    background-color: #6d7480;

    display: flex;
    align-items: center;

    width: calc(100% - 8px);
    height: 80px;

    border-radius: 8px 8px 8px 8px;
}

.cart-item img {
    aspect-ratio: 1/1;
    width: 64px;

    background-color:#555a64;
    margin: 7.5px;

    border-style: solid;
    border-radius: 8px 8px 8px 8px;
    border-width: 3px;
    border-color: #454a53;
}

#sidebar-bottom {

}